<% if(success && success.length) {%>    <%/*if success is there and its not empty*/%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success %>
    </div>
<% } %>

<% if(error && error.length) {%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
    </div>
<% } %>