<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Restaurant</h1>
    <div class="col-6 offset-3">
        <form action="/restaurants" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="restaurant[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="restaurant[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" id="image" name="restaurant[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class ="form-label" for="phonenumber">Phone Number</label>
                <div class="input-group">
                    <span class="input-group-text" id="phonenumber"></span>
                    <input type="text" class="form-control" id="phonenumber" name="restaurant[phonenumber]" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="restaurant[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
            <button class="btn btn-success">Add Restaurant</button>
            </div>
        </form>
        <a href="/restaurants">All Restaurants</a>
    </div>
</div>



